<h2>Product Catalog</h2>
<section class="products">
    {{#each products}}
    <article class="product">
        <img src="{{this.image}}">
        <h3>{{this.name}}</h3>
        <p>Suitable for: {{this.skin}}</p>
        <a href="/product/{{_id}}/details">Read More</a>
    </article>
    {{else}}
    <p class="no-post">There are no products found yet!</p>
    {{/each}}
</section>